.header_container {
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.navigation_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  transition: padding 0.3s ease;
}

.logo {
  fill: white;
  transition: background-fill 0.3s ease;
}

.nav_list {
  display: flex;
  list-style: none;
}

.nav_item {
  margin-right: 35px;
}

a.nav_link {
  color: var(--wt);
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

a.nav_link::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  bottom: -10px;
  background-color: var(--wt);
  transform: scaleX(.001);
  transform-origin: right center;
  transition: transform 0.2s ease-in;
}

a.nav_link:hover:after {
  transform: scaleX(1);
  transform-origin: left center;
}

/* ------------------ACTIVE------------------- */

.active {
  background-color: var(--wt);
}

.active .navigation_menu {
  padding: 20px 30px;
}

.active .logo {
  fill: var(--dark);
}

.active a.nav_link {
  color: var(--dark);
}

.active a.nav_link::after {
  background-color: var(--primary);
}