.services_container {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
}

.services_container > div {
  margin: 30px 0;
}

.services_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.services_header > * {
  flex-basis: 50%;
}

.services_header h2 {
  font-weight: 700;
  line-height: 44px;
  padding-right: 44px;
  font-size: clamp(12px, 1.72vw, 34px);
}

.img_lumber {
  max-width: 400px;
}

.text_gradient {
  background: radial-gradient(circle, rgba(31,172,45,0.6026785714285714) 0%, rgba(16,209,142,0.6615021008403361) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper {
  padding: 30px 0;
  display: flex;
  align-content: center;
  align-items: center;
}

.image_container > div {
  overflow: visible !important;
}

.section_production {
  display: flex;
  align-content: center;
  flex-direction: column;
}

.image_container {
  display: flex;
}

.image_container .image_hero {
  transform: translate(-75px, 150px);
}

.text_container h4 {
  text-transform: uppercase;
  padding: 7px 0;
  font-size: clamp(20px, 2vw, 30px);
}

.text_container p {
  font-size: clamp(16px, 1.6vw, 24px);
  line-height: 1.7;
}


.section_devilery {

}